﻿@using TaskProekt.Entities
@model IEnumerable<TaskProekt.Entities.Task>

<h1>Products</h1>
@if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
{

    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <button class="btn btn-dark" onclick="location.pathname = '@Url.Action("Index", "AuditView")'">View Audit</button>
    <button class="btn btn-dark" onclick="location.pathname = '@Url.Action("CreateUser", "Account")'">Create User</button>
    <button class="btn btn-dark" onclick="location.pathname = '@Url.Action("Create", "Task")'">Create Task</button>
    <button class="btn btn-info" onclick="location.pathname = 'swagger'">Swagger</button>
}
@if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("MANAGER"))
{
    <a asp-action="Create" class="btn btn-primary">Create New</a>

}
<table class="table  table-bordered table-hover my-2">
    <thead class="thead-dark">
        <tr>

            <th scope="col">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
                {
                    <td style="display:flex; justify-content:center; align-items:center; gap:5px;">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a> <span>|</span>
                        <form asp-controller="TaskModel " asp-action="Delete" method="post">
                            <div>
                                <input name="Id" asp-for="@item.Id" type="hidden" id="form1-Admin" placeholder="Id">
                                <button asp-action="Delete" type="submit" class="btn btn-pill btn-danger">
                                    Delete
                                </button>
                            </div>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>